.btn-add-token{
    background-color: rgb(170,52,181);
}

button {
  border: none;
  color: white;
  border-radius: 3px;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px;
  cursor: pointer;
}