button {
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 800;
    justify-content: space-between;
    padding: 7px 12px;
    margin: 4px 0;
    text-align: center;
    text-decoration: none;
}

.btn-add-token,
.btn-save {
    background-color: rgb(170, 52, 181);
}

.btn-back {
    background-color: rgb(128, 128, 128);
}

.btn-remove {
    background-color: rgb(176, 30, 30);
}

.edit-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.display {
    display: none;
}
