button {
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 8px;
    justify-content: space-between;
    padding: 5px 7px;
    margin: 4px 0;
    text-align: center;
    text-decoration: none;
}

.btn-add-token,
.btn-save {
    background-color: rgb(170, 52, 181);
}

.btn-remove {
    background-color: rgb(176, 30, 30);
}

.edit-btns {
    display: flex;
    justify-content: space-between;
}
