.header {
    width: 70%;
}

.logo {
    text-align: center;
    height: 3.5vmin;
    padding: 25px;
}

.star-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.star-wrapper > div {
    display: flex;
}
.star {
    fill: yellow;
    height: 3vmin;
    margin: 25px 5px 25px 0;
}
