

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* table {
    width: 100%;
    height: 200px;
    text-align: left;
}

.edit {
    fill: white;
    width: 12px;
    padding-right: 5px;
} */

button {
    background-color: transparent;
}
