* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(19, 21, 42);
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100vw;
}
