.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.375);
    z-index: 1;
}

.container > div {
    background-color: rgb(83, 89, 163);
    width: 80%;
    border-radius: 2px;
    padding: 25px;
}
