form {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 100%;
}

input {
    border: none;
    border-radius: 3px;
    padding: 4px;
    margin: 4px 0;
    font-size: 12px;
    font-weight: bold;
}
