table {
    width: 100%;
    height: 200px;
    text-align: left;
}

th {
    font-size: 8px;
}

td {
    font-weight: bold;
}

.icn-edit {
    cursor: pointer;
    fill: white;
    width: 15px;
    margin-right: 15px;
}

.cell-align-right {
    text-align: right;
    font-size: 24px;
}

.cell-align-left {
    text-align: left;
    font-size: 24px;
}
