.form {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 100%;
}

input {
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin: 8px 0;
    font-size: 15px;
    font-weight: bold;
}

.display {
    display: none;
}
